<html>
  <body>
    <p>
      <%= @game.host_name %> has invited you, <%= @game.player_name %>, to play hangman at https://agreens-hangman.herokuapp.com/games/<%= @game.id %>
    </p>
  </body>
</html>
